# ROOT
node_modules/
# server
server/node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# client
client/node_modules/

# 환경 변수 파일
.env

# 로그 파일
logs
*.log

# 디렉토리
coverage/
dist/
build/

# OS 관련 파일
.DS_Store
Thumbs.db

# VSCode 관련 파일
.vscode/
